detalle-cliente(*ngIf="clienteSeleccionado", [cliente]="clienteSeleccionado")

.card.border-dark.bg-transparent.mt-3
  .card-header
    button.btn.btn-secondary.float-right(type="button", '(click)'="habilitar = !habilitar")
      span {{ habilitar ? 'Ocultar' : 'Mostrar'}}
    span(style="vertical-align: sub;") Clientes

  div.card-body.text-dark('*ngIf'="habilitar")
    h5.card-title Listado de clientes
    .my-2.text-left
      button.btn.btn-rounded.btn-success([routerLink]="['/clientes/forma']") Crear
        fa-icon.text-white.mx-1([icon]="faPlus")

    .alert.alert-info('*ngIf'="clientes?.length === 0") No hay registros que mostrar.
    table.table.table-hover('*ngIf'="clientes?.length > 0")
      thead
        tr
          th id
          th nombre
          th apellido
          th email
          th fecha
          th editar
          th eliminar
      tbody
        tr('*ngFor'="let cliente of clientes")
          td
              button.btn.btn-secondary.btn-sm(type='button', name='detalle', '(click)'="mostrarModal(cliente)") {{ cliente.id }}
          td {{ cliente.nombre }}
          td {{ cliente.apellido }}
          td {{ cliente.email }}
          td {{ cliente.createAt }}
          td
            button.btn.btn-primary.btn-sm(type='button', name='editar', [routerLink]="['/clientes/forma', cliente.id]") Editar
              fa-icon.text-white.mx-1([icon]="faEdit")
          td
            button.btn.btn-danger.btn-sm(type='button', name='eliminar', (click)="delete(cliente)") Eliminar
              fa-icon.text-white.mx-1([icon]="faTrashAlt")
    app-paginador(*ngIf="paginador", [paginador]='paginador')
