.card.bg-dark.text-white.my-2
  .card-header  {{ titulo }}
  .card-body
    form(#clienteform='ngForm', (ngSubmit)='this.create()')
      .form-group.row
        label.col-form-label.col-sm-2(for='') Nombre
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.nombre', name='nombre', required='', minlength='4', #nombre='ngModel')
          .alert.alert-danger.my-3(*ngIf='nombre.invalid && (nombre.dirty || nombre.touched)')
            div(*ngIf='nombre.errors.required') El Nombre es requerido
            div(*ngIf='nombre.errors.minlength') El Nombre debe tener al menos 4 caracteres
      .form-group.row
        label.col-form-label.col-sm-2(for='') Apellido
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.apellido', name='apellido', required='', #apellido='ngModel')
          .alert.alert-danger.my-3(*ngIf='apellido.invalid && (apellido.dirty || apellido.touched)')
            div(*ngIf='apellido.errors.required') El Apellido es requerido
      .form-group.row
        label.col-form-label.col-sm-2(for='') E-mail
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.email', name='email', required='', email='', #email='ngModel')
          .alert.alert-danger.my-3(*ngIf='email.invalid && (email.dirty || email.touched)')
            div(*ngIf='email.errors.required') El Email es requerido
            div(*ngIf='email.errors.email') El emal debe tener formato correcto
      .form-group.row
        .col-sm-6
          input.btn.btn-primary(type="submit", '*ngIf'="!cliente.id else elseBlock", [disabled]='!clienteform.form.valid', value="Crear")
          ng-template(#elseBlock='')
            input.btn.btn-primary(type="submit", [disabled]='!clienteform.form.valid', value="Editar")
