.card.bg-dark.text-white.my-2
  .card-header  {{ titulo }}
  .card-body
    form(#clienteForm='ngForm')

      .form-group.row
        label.col-form-label.col-sm-2(for='') Nombre
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.nombre', name='nombre', #nombre='ngModel')
          .alert.alert-danger.my-3(*ngIf='nombre.invalid && (nombre.dirty || nombre.touched)')
            div(*ngIf='nombre.errors.required') El Nombre es requerido
            div(*ngIf='nombre.errors.minlength') El Nombre debe tener al menos 4 caracteres

      .form-group.row
        label.col-form-label.col-sm-2(for='') Apellido
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.apellido', name='apellido', #apellido='ngModel')
          .alert.alert-danger.my-3(*ngIf='apellido.invalid && (apellido.dirty || apellido.touched)')
            div(*ngIf='apellido.errors.required') El Apellido es requerido

      .form-group.row
        label.col-form-label.col-sm-2(for='') E-mail
        .col-sm-6
          input.form-control(type='text', [(ngModel)]='cliente.email', name='email', #email='ngModel')
          .alert.alert-danger.my-3(*ngIf='email.invalid && (email.dirty || email.touched)')
            div(*ngIf='email.errors.required') El Email es requerido
            div(*ngIf='email.errors.email') El emal debe tener formato correcto

      .form-group.row
        label.col-form-label.col-sm-2(for='') Fecha
        .col-sm-6
          input.form-control(type='date', [(ngModel)]='cliente.createAt', name='createAt', #createAt='ngModel')
          .alert.alert-danger.my-3(*ngIf='createAt.invalid && (createAt.dirty || createAt.touched)')
            div(*ngIf='createAt.errors.required') La fecha es requerida

      .form-group.row
        label.col-form-label.col-sm-2(for='') Región
        .col-sm-6
          select.form-control(type='date', [compareWith]="compararRegion", [(ngModel)]='cliente.region', name='region', #region='ngModel')
            option([ngValue]="undefined") -- Seleccione una opción --
            option(*ngFor="let region of regiones", [ngValue]="region") {{ region.nombre }}

      .form-group.row
        .col-sm-6
          button.btn.btn-primary(role='button', (click)='create()', *ngIf='!cliente.id else elseBlock', [disabled]='!clienteForm.form.valid') Crear
          ng-template(#elseBlock='')
            button.btn.btn-primary(role='button', (click)='update()', [disabled]='!clienteForm.form.valid') Editar

.alert.alert-danger.text-left(*ngIf='errores?.length >0')
  ul.ml-1
    li(*ngFor='let err of errores') {{ err }}
