
<div class="container my-3">
  <div class="card bg-transparent text-center">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form class="text-center" method="POST">
        <div class="form-group col-sm-6 offset-sm-3">
          <input class="form-control" id="username" type="text" name="username" placeholder="Nombre de usuario" required="" autofocus=""/>
        </div>
        <div class="form-group col-sm-6 offset-sm-3">
          <input class="form-control" id="password" type="text" name="password" placeholder="Clave" required=""/>
        </div>
        <div class="form-group col-sm-6 offset-sm-3">
          <input class="btn btn-primary btn-lg btn-block" id="login" type="submit" value="Acceder"/>
        </div>
      </form>
    </div>
  </div>
</div>