
<div class="container my-3">
  <div class="card bg-transparent text-center">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form class="text-center" method="POST">
        <div class="form-group col-sm-6 offset-sm-3">
          <input class="form-control" id="username" [(ngModel)]="usuario.username" type="text" name="username" placeholder="Nombre de usuario" required="" autofocus=""/>
        </div>
        <div class="form-group col-sm-6 offset-sm-3">
          <input class="form-control" id="password" [(ngModel)]="usuario.password" type="password" name="password" placeholder="Clave" required=""/>
        </div>
        <div class="form-group col-sm-6 offset-sm-3">
          <button class="btn btn-primary btn-lg btn-block" id="login" (click)="login()" type="submit" value="Acceder">
            <fa-icon class="text-white mx-1" [icon]="faKey"></fa-icon><span>Acceder</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>