
<div class="card border-dark bg-transparent">
  <div class="card-header">
    <div class="card-title">Perfil de {{ _authService.usuario.nombre }} {{ _authService.usuario.apellido }}</div>
  </div>
  <div class="card-body">
    <form></form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usuario-username">Usuario</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="usuario-username" [value]="_authService.usuario.username" disabled=""/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usuario-nombre">Nombre</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="usuario-nombre" [value]="_authService.usuario.nombre" disabled=""/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usuario-apellido">Apellido</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="usuario-apellido" [value]="_authService.usuario.apellido" disabled=""/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usuario-email">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="usuario-email" [value]="_authService.usuario.email" disabled=""/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usuario-roles">Roles</label>
      <div class="col-sm-10"><span class="badge badge-pill badge-info mx-1 float-left" id="usuario-roles" *ngFor="let role of _authService.usuario.roles">{{ role }}</span></div>
    </div>
  </div>
</div>